<div>
	<%=form_tag("/plays", :method=>"get", :id => 'search-box') do %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search") %>
	<%end%>

	<script
               type="text/javascript"
               language="javascript">
               document.getElementById("q").focus();
          </script>
</div>
