<div>
	<%=form_tag("/plays", :method=>"get", :id => 'search-box', :class => 'form-inline') do %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search", :class => 'btn') %>
	<%end%>

	<script
               type="text/javascript"
               language="javascript">
               document.getElementById("q").focus();
          </script>
</div>
