<div>
	<%=form_tag("/plays", :method=>"get", :id => 'search-box', :class => 'form-inline') do %>
		<%= text_field_tag(:q) %>
		<%= submit_tag("Search", :class => 'btn') %>
	<%end%>
	
	<div class="tag_cloud">
		<%if @tag_cloud_hash%>
			<% @tag_cloud_hash.each do |tag,size|%>
				<%=link_to tag, "/plays?q=#{tag}", :style=>"font-size:#{size}px"%>
			<%end%>
		<%end%>
	</div>

	<script
               type="text/javascript"
               language="javascript">
               document.getElementById("q").focus();
          </script>
</div>
