/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}
.footer, .push {
  height: 6em;
}

header {
  position: relative;
}
header div {
  position: absolute;
  bottom: 0;
  right: 0;
}
#logo {
  height: 141px;
  width: 816px;
  background: url(/logo.png) no-repeat top left;
  text-indent: 9999px;
  overflow: hidden;
}
#search-box {
  padding-top: .5em;
  padding-bottom: .5em;
}
#q.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
}
a.play:hover, a#player-icon:hover {
  text-decoration: none;
}
#player-container {
  position: fixed;
  bottom: 0;
  background: #fff;
  right: 0;
  padding: 0.5em 1em
}
#player-container div {
  display: inline;
}
.footer {
  background: #000;
  color: #999;
  margin: 1em 0 0;
  padding: 1em 0;
  width: 100%;
}
