<div>
	<div id="logo"></div>
	<%if !@hide_search%>
		<%=form_tag("/plays", :method=>"get") do %>
			<%=text_field_tag(:q)%>
			<%=submit_tag("Search")%>
		<%end%>
	<%end%>
	
	<div>Find your song...now!</div>
</div>